<!--<button type="submit" [class]="deniz" [disabled]="formIsInvalid">Submit</button>-->

<!--@if (isAdmin) {-->
<!--  <button>Erase Database</button>-->
<!--} @else {-->
<!--  <ul>-->
<!--    @for (item of ingredientList; track item.name) {-->
<!--      <li>{{ item.quantity }} - {{ item.name }}</li>-->
<!--    }-->
<!--  </ul>-->
<!--}-->

<!--<p>{{ announcement }}</p>-->
<!--<button (click)="transformText()">Abracadabra!</button>-->
<h1>Project Name: <span class="text-blue-500">{{title}} </span></h1>
<p>Merhabalar <span class="text-fuchsia-500">{{name}} - {{surname}}</span></p>
<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<app-navi></app-navi>
<app-main></app-main>
<app-footer></app-footer>
