<!-- @if (condition) {
  <div>
    <h1>true</h1>
  </div>
} @else {
  <h1>false</h1>
}




@if(!condition; as result){
  burada angular 17 gelen if <br>
  {{result}}
}
@else if (3 === 3) {
burayı yansıt
}
<ul>
  @for (number of numbers; track number) {
    <li>
      {{number}}
    </li>
  }
</ul>

<hr>

  <ul>
    @for(number of numbers;track number;let i= $index; let f =$first;let l =$last){
      <li>{{number}} - {{i}} --{{f}} - {{l}}</li>
    }
    @empty {
    <li><strong>No numbers</strong></li>
  }
</ul>

@switch (data) {
  @case (1) {
    1'e eşit
  }
  @case (2) {
    2'e eşit
  }
  @default {
    hiçbiri
  }
} -->
<!--Welcome to {{title}} <br>-->
<!--Hello {{user}} <br>-->
<!--{{product1.productName}}-->

<!--<ul>-->
<!--  <li *ngFor="let product of products">{{ product.productName }}</li>-->
<!--</ul>-->
<app-navi></app-navi>
<div class="flex w-full mx-auto max-w-screen-2xl px-2 sm:px-6 lg:px-8 gap-2 mt-4 flex-col md:flex-row" >
  <app-category class="w-1/4"></app-category>
  <app-product class="w-3/4"></app-product>
</div>




<router-outlet></router-outlet>
