<table class="table-auto border border-slate-400 border-spacing-2 w-full">
  <thead>
  <tr>
    <th class="border border-slate-300 ">ProductId</th>
    <th class="border border-slate-300 ">CategoryId</th>
    <th class="border border-slate-300 ">ProductName</th>
    <th class="border border-slate-300 ">Unit Price</th>
  </tr>
  </thead>
  <tbody>
    @for (item of data;track data) {
      <tr>
        <td class="border border-slate-300 text-center">{{ item.productId }}</td>
        <td class="border border-slate-300 text-center">{{ item.categoryId }}</td>
        <td class="border border-slate-300 text-center">{{ item.productName }}</td>
        <td class="border border-slate-300 text-center">{{ item.unitPrice }}</td>
      </tr>
    }


  </tbody>
</table>
