/* @import url(responsive.css); will be fixed?  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 20px; */
}
:root{
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}
body{
  background-color: var(--Off-white) ;

}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}

p{
  font-size: 1.2rem;
}

/* Navbar Start */
.navbar-container{
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 4rem auto 3rem;
}
.navbar-item-right{
  display: flex;
  align-items: center;
}
.navbar-item-right ul{
  display: flex;
  gap: 2rem;
  
}

.navbar-item-right ul li a{
  color: var(--Dark-grayish-blue);
  font-size: 1.3rem;
}
.navbar-item-right > ul li:first-child{
  display: none;
}
/* Navbar End */

/* Main Start */
.main-container{
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  gap: 1rem;
}
.main-item-left{
  display: flex;
  flex-direction: column;
  flex: 2;
 
  
  
}
.main-item-right{
  flex: 1;
  background-color: var(--Very-dark-blue);
}
.content-image{
  /* background-image: url(/news-homepage-main/assets/images/image-web-3-desktop.jpg);
  width: 100px; */
  background-image: url(assets/images/image-web-3-desktop.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
 
}
.content-left-content{
  display: flex;
  margin-top: 2.3rem;
  gap: 1rem;
}
.bright h1{
 font-size: 3rem;
 padding: 0;
 margin: 0;
 
}
.bright{
  flex:1;
}
.wedevide{
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding-top: .4rem;
}
.button{
  width: 40%;
  margin-top: 1rem;
  background-color: var(--Soft-red);
  color: var(--Off-white);
  border: 1px solid --Soft-red;
  border-radius: 12px;
  padding: 12px 18px;
  
}
.main-item-right{
  padding: 2rem 2rem 0rem 2rem;
}
.main-item-right > h1{
  color: var(--Soft-orange);
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.news > h1{
  color: var(--Off-white);
  margin-bottom: 1rem;
}
.news > p{
  color: var(--Grayish-blue);
  margin-bottom: 1rem;
}
.news{
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--Grayish-blue);
}
.news:last-child{
  margin-bottom: 0;
  border-bottom: none;
}

/* Main End */

/* Footer Start */
.container-footer{
  display: flex;
  width: 70vw;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 2rem;
}
.item{
  flex: 1;
  display: flex;
  gap: 2rem;

}
.content-footer{
  flex:2;
  padding: .5rem 0rem 0rem 0rem;
  
}
.img-1{
  background-image: url(assets/images/image-retro-pcs.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%;
  height: 200px;
  flex: 1;
}
.img-2{
  background-image: url(assets/images/image-top-laptops.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%;
  height: 200px;
  flex: 1;
}
.img-3{
  background-image: url(assets/images/image-gaming-growth.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%;
  height: 200px;
  flex: 1;
}
.content-footer h1{
  color: var(--Grayish-blue);
}
.attribution{
  text-align: right;
  width: 70%;
  margin: 0 auto;
}
/* Footer End */