@tailwind base;
@tailwind components;
@tailwind utilities;

.inputcss + .validation_input_span {
    color: rgb(252, 88, 88);
    display: none;
}

.inputcss:invalid + .validation_input_span {
    display: inline;
}
