<div class="bg-brand-color">
  <div class="container h-14 flex items-center justify-between">
        <a href="">
          <img src="../../../assets/header-icons/hyperCompany.svg" alt="" class="w-40">
        </a>
        <nav class="flex gap-x-8 text-sm font-semibold">
          <a href="" class="flex items-center gap-x-2  text-white text-opacity-80 transition-all hover:text-opacity-100 ">
            <fa-icon [icon]="faGlobe" class="text-white"></fa-icon>
            Türkçe (TR)
          </a>
          <a href="" class="flex items-center gap-x-2  text-white text-opacity-80 transition-all hover:text-opacity-100 ">
            <fa-icon [icon]="faUser" class="text-white"></fa-icon>
            Giriş Yap
          </a>
          <a href="" class="flex items-center gap-x-2  text-white text-opacity-80 transition-all  hover:text-opacity-100 ">
            <fa-icon [icon]="faUserPlus" class="text-white"></fa-icon>
            Kayıt Ol
          </a>
        </nav>
  </div>
</div>


