<div class="bg-indigo-700">
  <div class="container h-12 flex items-center justify-between">
    <a href="#">
      deniz
    </a>
    <nav class="flex gap-x-8 text-sm font-semibold hidden md:flex">
      <a href="" class="text-white text-opacity-80 hover:text-opacity-100 transition-all">Türkçe (TR)</a>
      <a href="" class="text-white text-opacity-80 hover:text-opacity-100 transition-all">Giriş Yap</a>
      <a href="" class="text-white text-opacity-80 hover:text-opacity-100 transition-all">Kayıt Ol</a>

    </nav>

  </div>
</div>



<div class="card flex justify-content-center">

</div>
