<div class="w-full ">
  <ul class="flex flex-col">

    <li (click)="cleanCurrentCategory()"  routerLink="/products" [class]="allCategoryClass()">Tüm Ürünler</li>

    @for (item of categories; track categories) {
      <li (click)="setCurrentCategory(item)"
        routerLink="/products/category/{{item.categoryId}}"
        [class]="getCurrentCategoryClass(item)">
        {{ item.categoryName + " " + item.categoryId }}
      </li>
    }
  </ul>
</div>
@if (currentCategory) {
  <h5>{{ currentCategory.categoryName }} seçtiniz </h5>
}
